{% extends 'shop/base.html' %}

  <!--block contenair-->
  {% block content %}
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-dark text-center bg-warning"> Salut Mr/Mrs {{name}}</h3>
                <h4 class="text-muted"> La boutique en ligne ShopChineAfrica vous remercie pour votre confiance Mr/Mrs {{name}}. Nous avons bien reçu votre commande. Vous serez livré dans un délai de 48 heures ouvrées.
                    Nous vous contacterons le plus tot possible pour les détails logistiques.
                </h4>
            </div>
        </div>   
  {% endblock content %}
 <!--block contenair-->