
{% extends 'shop/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>

    <div class="contact-container">
        <h2>Contactez-nous</h2>

        {% if messages %}
            <div class="success-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Envoyer</button>
        </form>
    </div>

</body>
</html>
<!--<div class="container">
    <h1>Formulaire de Contact</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
    </form>

    <p><a href="{% url 'base' %}">Retour à l'accueil</a></p>
<div>
{% endblock content %}-->