{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ product.image }}" width="500px" height="500px" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-3">
                <a style="color: green;">Titre : </a>{{ product.title }}
            </div>
            <div class="text-danger ">
                <a style="color: green;">Prix :</a> ${{ product.price }}
            </div>
            <div class="text">
                <a style="color: green;">Description :</a> ${{ product.description }}
            </div>
            <div class="text-danger">
                <a style="color: green;">Date_d'ajout:</a>  ${{ product.date_added }}
            </div>
          

            <a href="{% url 'base' %} " ><button class="btn btn-success">Acheter</button></a>

        </div>
    </div>
{% endblock content %}