
{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="form-container">
        <h2 style="color: brown;">Inscription</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'inscrire</button>
        </form>
        <p>Déjà inscrit ? <a href="{% url 'login' %}" style="color: green;">Connexion</a></p>
    </div>
</body>
</html>
{% endblock content %}

